
.my-headline { color: #144446;
    font-family: "Great Vibes", cursive;
    font-weight: normal;
    margin-top: 25px;
    margin-bottom: 25px;
    text-shadow: 0 1px 1px #fff; }

.table  {
    margin-top:  30px;
}

.table td {
   text-align: center;
}

.table th {
   text-align: center;
}

#addDrinkDiv {
    width:70%;
    padding: 10px;
    margin: 0 auto;
}
.singleInput{
    padding: 2px;
}

.table-center{
    width:60%;
    margin: 0 auto;
}
