.my-form {
    width: 70%;
    margin: 0 auto;
    padding: 16px;
    padding-bottom: 30px;
}

.my-headline {
    color: blueviolet;
    font-family: "Great Vibes", cursive;
    font-weight: normal;
    margin-top: 25px;
    margin-bottom: 25px;
    text-shadow: 0 1px 1px #fff;
}

.singleInput {
    padding: 6px 12px;
}

.custom-div {
    width: 70%;
    padding: 10px;
    margin: 0 auto;
}

.table {
    margin-top: 30px;
}

.table td {
    text-align: center;
}

.table th {
    text-align: center;
}

.table-center {
    width: 60%;
    margin: 0 auto;
}

.table-fixed {
    width: 100%;
}

tbody {
    height: 350px;
    overflow-y: auto;
    width: 100%;
}

thead,
tbody,
tr,
td,
th {
    display: block;
}

td {
    float: left;
    width: 50%;
}

th {
    float: left;
    background-color: rgba(23, 20, 237, 0.27);
    width: 50%;
}

.results tr[visible='false'],
.no-result {
    display: none;
}

.counter {
    padding: 8px;
    color: #ccc;
}

.half-cetnered {
    width: 50%;
    margin: 0 auto;
}

form .error {
    color: #ff0000;
}
